# Font settings
Xft.antialias:                true
Xft.hinting:                  true
Xft.hintstyle:                slight

# (U)Xterm settings
UXTerm*vt100.allowBoldFonts:  false
UXTerm*vt100.cursorUnderLine: true
UXTerm*vt100.cursorColor:     #00ff00
UXTerm*vt100.cursorBlink:     true
UXTerm*vt100.faceName:        mono:bold:size=9
UXTerm*vt100.saveLines:       65535

# Rxvt-unicode settings
URxvt.cursorUnderline:        true
URxvt.cursorBlink:            true
URxvt.pointerBlank:           true
URxvt.font:                   xft:mono:bold:size=9
URxvt.boldFont:               xft:mono:bold:size=9
URxvt.letterSpace:            -2
URxvt.saveLines:              65535
URxvt.utmpInhibit:            true
URxvt.skipBuiltinGlyphs:      true
URxvt.perl-ext-common:        default,matcher
URxvt.url-launcher:           /usr/bin/x-www-browser
URxvt.matcher.button:         3
URxvt.scrollBar:              false

# Colours
*.foreground:                 #bfbfbf
*.background:                 #323537
*.color0:                     #000000
*.color8:                     #808080
*.color1:                     #705050
*.color9:                     #dca3a3
*.color2:                     #60b48a
*.color10:                    #c3bf9f
*.color3:                     #dfaf8f
*.color11:                    #f0dfaf
*.color4:                     #506070
*.color12:                    #94bff3
*.color5:                     #dc8cc3
*.color13:                    #ec93d3
*.color6:                     #8cd0d3
*.color14:                    #93e0e3
*.color7:                     #dcdccc
*.color15:                    #eeeeee
