! Set custom DPI
! Xft.dpi: 96

! XTerm
*vt100.allowBoldFonts: false
*vt100.cursorUnderLine: true
*vt100.cursorBlink: true
*vt100.faceName: mono:bold:size=10
*vt100.saveLines: 65535

! Colours (just for xterm)
*vt100.cursorColor: #00ff00
*vt100.foreground:  #bfbfbf
*vt100.background:  #313233

! Black
*vt100.color0:      #000000
*vt100.color8:      #888888

! Red
*vt100.color1:      #705050
*vt100.color9:      #dca3a3

! Green
*vt100.color2:      #60b48a
*vt100.color10:     #c3bf9f

! Yellow
*vt100.color3:      #dfaf8f
*vt100.color11:     #f0dfaf

! Blue
*vt100.color4:      #506070
*vt100.color12:     #94bff3

! Magenta
*vt100.color5:      #dc8cc3
*vt100.color13:     #ec93d3

! Cyan
*vt100.color6:      #8cd0d3
*vt100.color14:     #93e0e3

! White
*vt100.color7:      #dcdccc
*vt100.color15:     #eeeeee
 
! More Colours (for everything else)
! Sorry for the duplication...
*.foreground: #bfbfbf
*.background: #313233

! Black
*.color0:     #000000
*.color8:     #888888

! Red
*.color1:     #705050
*.color9:     #dca3a3

! Green
*.color2:     #60b48a
*.color10:    #c3bf9f

! Yellow
*.color3:     #dfaf8f
*.color11:    #f0dfaf

! Blue
*.color4:     #506070
*.color12:    #94bff3

! Magenta
*.color5:     #dc8cc3
*.color13:    #ec93d3

! Cyan
*.color6:     #8cd0d3
*.color14:    #93e0e3

! White
*.color7:     #dcdccc
*.color15:    #eeeeee
