Source: sharp-configs
Section: misc
Priority: optional
Maintainer: Matthew T Hoare <matthew.t.hoare@gmail.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 3.9.8
Homepage: https://head-on-a-stick.github.io

Package: sharp-configs
Architecture: all
Depends: ${misc:Depends}, python, rsync, sensible-utils
Description: configuration files
 Various configuration files for SharpBang GNU/Linux
