[Desktop Entry]
Version=1.0
Name=Edit openbox autostart
Comment=Open ~/.config/openbox/autostart in mousepad
Type=Application
Exec=sh -c 'mousepad ~/.config/openbox/autostart'
Categories=Settings;DesktopSettings;
