[Desktop Entry]
Version=1.0
Name=Keyboard
Comment=Change system keyboard configuration
Type=Application
Exec=x-terminal-emulator -e sudo dpkg-reconfigure keyboard-configuration
Categories=Settings;DesktopSettings;
