[Desktop Entry]
Version=1.0
Name=System Locale
Commet=Change system locale
Type=Application
Exec=x-terminal-emulator -e sudo dpkg-reconfigure locales
Categories=Settings
