[Desktop Entry]
Version=1.0
Name=Timezone
Comment=Change system timezone
Type=Application
Exec=x-terminal-emulator -e sudo dpkg-reconfigure tzdata
Categories=Settings
